<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorial 13</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app"></div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: 'Hello Vue!',
          check: false,
          checked: [],
          radio: '',
          option: '',
          options: [],
          text: 'haha',
          number: 0,
          string: '',
        }
      },
      methods: {
       
      },
      template: `
        <input v-model="message" />
        <textarea v-model="message" />

        <input type="checkbox" v-model="check" />

        <input type="checkbox" v-model="checked" value="1" />
        <input type="checkbox" v-model="checked" value="2" />

        <input type="radio" v-model="radio" value="1"/>
        <input type="radio" v-model="radio" value="2"/>

        <select v-model="option">
          <option disabled value="">请选择内容</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>

        <select v-model="options" multiple>
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        
        {{text}}
        <input type="checkbox" v-model="text" true-value="haha" false-value="xixi" />

        {{message}}
        <input type="text" v-model.lazy="message" />
        <input type="number" v-model.number="number" />
        <input type="text" v-model.trim="string" />
      `
    })
    
    const vm = app.mount('#app')
  </script>
</body>
</html>